html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #1B2430;
    /* min-width: 420px; */
    width: 100%;
    position: relative;
    height: 100%;
}

.alignment {
    margin: 0 auto;
}

.top {
    color: aliceblue;
    text-align: center;
    margin-top: 5px;
}


.card {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #1B2430;

}

.container {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.col {
    padding: 0;
    display: flex;
}

.letter {
    color: white;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6e96be;
    min-width: 35px;
    touch-action: manipulation;
}

.alert {
    /* width: 250px; */
    width: 25%;
    position: fixed;
    left: 50%;
    text-align: center;
    margin-left: -12.5%;
    margin-top: 10%;
    z-index: 5;
}